<div>{{i18n string="landingPage.title" content="content"}}</div>
{{#autocomplete}}{{/autocomplete}}
<div>{{i18n string="landingPage.distance"}}: {{i18n string="landingPage.mm" distance=distanceInMM}}</div>
<div>{{i18n string="landingPage.distance"}}: {{i18n string="landingPage.mm" distance=1}}</div>